/* RESET VALUES */

:root{
    --LM-background: hsl(0, 0%, 92%);
    --LM-c-text : hsl(0, 0%, 100%);
    --LM-sections-units: hsl(0, 0%, 85%);
    --LM-logo-circle-text: hsla(0, 0%, 0%, 0.5);
    --LM-hourly-forecast: hsla(0, 0%, 53%, 0.2);

    --DM-background: hsl(210, 11%, 15%);
     --LM-c-text : hsl(0, 0%, 0%);
    --DM-sections: hsl(220, 21%, 8%);
    --DM-logo-circle-text: hsla(0, 0%, 100%, 0.5);
    --DM-units: hsl(220, 10%, 28%);
    --DM-hourly-forecast: hsla(0, 0%, 53%, 0,2);
    --DM-hourly-forecast-days: hsla(0, 0%, 53%, 0,2);
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}


/* BASE ELEMENT STYLES */

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    background-color: var(--LM-background);
    color: var(--LM-c-text); 
}

/* PAGE LAYOUT */

.wrapper{
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(0, 1100px) minmax(16px, 1fr);
}

 .wrapper > * {
        grid-column: 2;
    }




/* MEDIA QUERIS */

@media (min-width: 768px){
    .wrapper{
        grid-template-columns: minmax(24px, 1fr) minmax(0, 1100px) minmax(24px, 1fr);;
    }
}

@media (min-width: 1200px){
    .wrapper{
        grid-template-columns: minmax(32px, 1fr) minmax(0, 1100) minmax(32px, 1fr);
    }
}