/* RESET VALUES */

:root{
    --LM-background: hsl(0, 0%, 92%);
    --LM-c-text : hsl(0, 0%, 100%);
    --LM-c-searchBar : hsla(0, 0%, 85%, 0.842);
    --LM-sections-units: hsl(0, 0%, 85%);
    --LM-logo-circle-text: hsla(0, 0%, 0%, 0.5);
    --LM-hourly-forecast: hsla(0, 0%, 53%, 0.2);

    --DM-background: hsl(210, 11%, 15%);
     --LM-c-text : hsl(0, 0%, 0%);
    --DM-sections: hsl(220, 21%, 8%);
    --DM-logo-circle-text: hsla(0, 0%, 100%, 0.5);
    --DM-units: hsl(220, 10%, 28%);
    --DM-hourly-forecast: hsla(0, 0%, 53%, 0,2);
    --DM-hourly-forecast-days: hsla(0, 0%, 53%, 0,2);
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}


/* BASE ELEMENT STYLES */

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    background-color: var(--LM-background);
    color: var(--LM-c-text); 
}

/* COMPONENTS */


/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header_logo{
    width: 88px;
    height: auto;
}
.header_settings{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 8px 13px;
    background-color: var(--LM-sections-units);
    border-radius: 80px;
    margin-right: 20px;
    transform: translateY(-5px);
}
.header_dropDown{
    border: none;
    background-color: transparent;
    font-weight: 500;
    padding: 0;
    font-family: inherit;
    font-size: 14px;
}

/* Smooth transition  */
.header_settings,
.header_dropDown,
.header_logo {
    transition: all 0.25s ease;
}


/* Main */
.main{
    margin-top: 20px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-block-end: 24px;
}
.search_textbox{
    border: none;
    border-radius: 200px;
    background-color: var(--LM-c-searchBar);
    width: 340px;
    height: 40px;
    padding: 16px 35px;
}
.search_textbox:focus, .search_textbox:hover {
    outline: 1px solid hsla(0, 0%, 45%, 0.5);
}
.search_btn{
    border: none;
    border-radius: 50%;
    background-color: hsl(0, 0%, 0%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search_label{
    display: none;
}
.search_icon {
    filter: invert(1);
    width: 27px;
    height: 27px;
}
.search_btn:active{
    background-color: hsla(0, 0%, 0%, 0.8);
    transform: scale(0.95);
}

.current_weather{
    background-color: var(--LM-sections-units);
    border-radius: 40px;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-block-end: 24px;
}

.current_location{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}
.current_displayCity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.current_displayCity img{
    width: 18px;
}
.current_city{
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;   
}
.current_date{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.current_middle{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}
.current_temp{
    font-size: 100px;
    font-weight: 900;
}
.current_iconText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translateY(-3px); */
    margin-top: -4px;
    
}
.current_iconText img{
    width: 60px;
}
.current_text{
    font-size: 24px;
}

.current_conditions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-block-end: 24px;
}
.current_condition{
    background-color: var(--LM-sections-units);
    border-radius: 25px;
    padding: 20px;
}
.current_condition-title{
    font-size: 18px;
    color: var(--LM-c-text);
    margin-block-end: 24px;
}
.current_condition-value{
    font-size: 35px;
    color: var(--LM-c-text);
    font-weight: 500;
}


/* .current_weather{
    background-color: var(--LM-sections-units);
    border-radius: 40px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 120px;
    gap: 16px;
}

.current_location{
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-weight: 400;
    font-size: 17px;
    margin-top: 10px;
}
.current_location img{
    width: 25px;
}


.current_date{
    grid-column: 1 / -1;
    grid-row: 2;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
}


.current_temp{
    grid-column: 1 / 2;
    grid-row: 3;
    font-size: 100px;
    font-weight: 800;
    line-height: 1;
    margin-left: 30px;
    align-self: end;
}

.current_iconText{
    grid-column: 2 / 3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 4px;
    font-size: 20px;
    
}
.current_iconText img{
    width: 60px;
}

.current_conditions{
    border: 1px solid;
} */




/* GRID PAGE LAYOUT */

.wrapper{
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(0, 1100px)minmax(16px, 1fr);
}

 .wrapper > * {
        grid-column: 2;
    }




/* MEDIA QUERIS */

@media (min-width: 768px){
    .wrapper{
        grid-template-columns: minmax(24px, 1fr) minmax(0, 1150px) minmax(24px, 1fr);
    }
    .header_logo{
        width: 140px;
    }
    .header_settings {
        padding: 10px 16px;
    }
    .header_dropDown{
        font-size: 16px;
    }
    .search_textbox{
        width: 400px;
        height: 45px;
    }
    .search_icon{
        display: none;
    }
    .search_label{
        display: inline;
        color: hsl(0, 0%, 100%);
    }
    .search_btn{
        width: 120px;
        border-radius: 200px;
        height: 45px;
    }
    .search_btn::before {
        content: "";
        display: inline-block;
        height: 2px;
        width: 0;
        background-color: #fff;
        margin-right: 10px;
        transition: width .42s cubic-bezier(0.25,0.8,0.25,1);
    }
    .search_btn:hover::before {
        width: 1rem;  
    }
    .current_weather{
        background-color: var(--LM-sections-units);
        border-radius: 40px;
        padding: 30px 58px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .current_location{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        text-align: center;
    }
    .current_displayCity{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
    .current_displayCity img{
        width: 30px;
    }
    .current_city{
        font-size: 30px;
        font-weight: 400;    
    }
    .current_date{
        font-size: 35px;
        font-weight: 600;
        margin-top: 10px;
    }
    .current_middle{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        
        margin-top: 20px;
    }
    .current_temp{
        font-size: 160px;
        font-weight: 900;
    }
    .current_iconText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
    
    }
    .current_iconText img{
        width: 80px;
    }
    .current_text{
        font-size: 30px;
        white-space: nowrap;
    }
    .current_conditions{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin-block-end: 24px;
    }
    
}

@media (min-width: 1216px){
    .wrapper{
        grid-template-columns: minmax(32px, 1fr) minmax(0, 1150px) minmax(32px, 1fr);
    }
    .header_logo{
        width: 150px;
    }
    .header_settings {

        padding: 12px 18px;
    }
    .header_dropDown{
        font-size: 18px;
    }
    .search_textbox{
        width: 480px;
        height: 50px;
    }
    .search_btn{
        width: 120px;
        height: 50px;
    }
}